#Rofikkernel costum Sepolicy
#For enable enforcing
#Hal light 
allow hal_light_default sysfs_leds:file rw_file_perms;
allow hal_light_default sysfs_graphics:file rw_file_perms;
allow hal_light_default sysfs:file rw_file_perms;
#healthhd
allow healthd sysfs:file rw_file_perms;

#============= fsck ==============
#allow fsck mnt_vendor_file:dir getattr;
#allow fsck self:capability dac_read_search;
#allow fsck tmpfs:blk_file getattr;


#============= system_server ==============
#allow system_server init:binder call;
#allow system_server vendor_default_prop:file { getattr map open read };



#============= qti_init_shell ==============
allow qti_init_shell toolbox_exec:file getattr;



#============= proc_net ==============
allow proc_net proc:filesystem associate;

#============= platform_app ==============
#allow platform_app init:binder call;
#allow platform_app time_daemon:unix_stream_socket connectto;

